
$shape-width: 200px;
$shape-height: 200px;
$card-gap: clamp(1rem, 2vw, 2rem);
$border-radius: clamp(0.25rem, 1vw, 0.5rem);


@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}


.shapesListContainer {
    max-width: 1280px;
    margin: 0 auto;
    padding: $card-gap;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: $card-gap;
}

.shapeItemCard {
    @include flexCenter;
    flex-direction: column;
    flex: 1 1 320px;
    position: relative;
    border: 1px solid var(--accent-color);
    border-radius: $border-radius;
    gap: 1rem;
    padding: 3rem;

    .cardWrapper {
        @include flexCenter;
        position: relative;

        .cardImg {
            width: 25rem;
            height: 25rem;
            border-radius: 0.75rem;
            overflow: hidden;
            border: 0.5rem solid var(--accent-color);
        
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }
    
        .tag {
            width: 12.5rem;
            height: 3.75rem;
            @include flexCenter;
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: var(--bg-color);
            border-top: 0.5rem solid var(--accent-color);
            border-left: 0.5rem solid var(--accent-color);
            border-top-left-radius: 0.75rem;
            padding: 0.3rem;

            &::after, &::before {
                content: "";
                position: absolute;
                width: 1.125rem;
                height: 1.25rem;
            }

            &::after {
                background-color: transparent;
                top: -1.175rem;
                right: 0;
                border-bottom-right-radius: $border-radius;
                box-shadow: 0.375rem 0.375rem var(--bg-color);
            }
            
            &::before {
                background-color: transparent;
                right: 0.5rem;
                top: -1.75rem;
                border-bottom-right-radius: $border-radius;
                box-shadow: 0.375rem 0.375rem var(--accent-color);
            }

            p {
                background-color: var(--accent-color);
                color: var(--text-color);
                font-size: 0.875rem;
                padding: 0.3rem 0.625rem;
                border-radius: $border-radius;

                margin: 0;
                margin-top: 0.25rem;
                width: 95%;
                gap: 0.3125rem;

                span {
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: var(--muted-color);
                }
            }
        }

        .curveOne {
            position: absolute;
            width: 1.25rem;
            height: 1.25rem;
            background-color: transparent;
            left: 45%; 
            bottom: 0.5rem;
            border-bottom-right-radius: $border-radius;
            box-shadow: 0.375rem 0.375rem var(--accent-color);
        }

        .curveTwo {
            position: absolute;
            width: 1.25rem;
            height: 1.25rem;
            background-color: transparent;
            left: 47%; 
            bottom: 0;
            border-bottom-right-radius: $border-radius;
            box-shadow: 0.375rem 0.375rem var(--bg-color);
        }
    }

}







.InvertedBorderRadiusCard {
    width: 320px;
    height: 430px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .box {
        position: relative;
        width: 110%;
        height: 200px;
        background: var(--muted-color);
        border-radius: $border-radius;

        .imgBox {
            width: 100%;
            height: 100%;
            border-radius: clamp(0.25rem, 1vw, 0.5rem);
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }

        .content {
            position: absolute;
            inset: 0;
            padding: 30px 10px 20px;
            display: flex;
            align-items: center;
            flex-direction: column;

            h2 {
                width: 100%;
                color: var(--bg-color);
                font-size: 1.15rem;
                padding-left: 120px;
                letter-spacing: 0.1em;
                font-weight: 600;
                line-height: 1.1em;
                text-transform: uppercase;
                text-align: left;
                margin-bottom: 0;

                span {
                    display: block;
                    font-size: 0.75rem;
                    font-weight: 400;
                    letter-spacing: 0.05em;
                    color: var(--muted-color);
                    text-transform: initial;
                }
            }

            ul {
                position: relative;
                top: 15px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                width: 100%;
                padding: 10px 10px;
                justify-content: space-evenly;
                border-radius: 10px;

                li {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    padding: 0 10px;
                    font-size: 0.85em;
                    font-weight: 500;
                    color: var(--muted-color);
                    border-right: 1px solid var(--accent-color);

                    &:last-child {
                        border-right: none;
                    }

                    span {
                        font-size: 1.25em;
                        color: var(--bg-color);
                    }
                }
            }

            button {
                position: relative;
                top: 25px;
                padding: 8px 24px;
                border: none;
                outline: none;
                background: var(--bg-color);
                color: var(--text-color);
                font-size: 1em;
                font-weight: 500;
                border-radius: 30px;
                margin-top: 20px;
                letter-spacing: 0.2em;
                box-shadow: 0 0 0 10px var(--accent-color);
                cursor: pointer;

                &:hover {
                    background: var(--bg-color);
                    color: var(--accent-color);
                    letter-spacing: 0.35em;

                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 19px;
                    left: -26px;
                    width: 20px;
                    height: 20px;    
                    background: transparent;
                    border-top-right-radius: 20px;
                    box-shadow: 5px -7px var(--accent-color);
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 19px;
                    right: -26px;
                    width: 20px;
                    height: 20px;    
                    background: transparent;
                    border-top-left-radius: 20px;
                    box-shadow: -5px -7px var(--accent-color);
                }
            }
        }
    }

    .box:nth-child(1) {

        &::before {
            content: "";
            position: absolute;
            top: 106px;
            left: -1px;
            width: 20px;
            height: 20px;
            background: transparent;
            border-bottom-left-radius: 20px;
            box-shadow: -6px 6px var(--bg-color);
            z-index: 10;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 105px;
            width: 20px;
            height: 20px;
            background: transparent;
            border-bottom-left-radius: 20px;
            box-shadow: -6px 6px var(--bg-color);
            z-index: 10;
        }
    }

    .box:nth-child(2) {
        width: 100%;
        height: 220px;
        background: var(--accent-color);

        &::before {
            content: "";
            position: absolute;
            bottom: 106px;
            left: -1px;
            width: 20px;
            height: 20px;
            background: transparent;
            border-top-left-radius: 20px;
            box-shadow: -6px -6px var(--bg-color);
            z-index: 10;
        }

        &::after {
            content: "";
            position: absolute;
            top: -1px;
            left: 109px;
            width: 20px;
            height: 20px;
            background: transparent;
            border-top-left-radius: 20px;
            box-shadow: -6px -6px var(--bg-color);
            z-index: 10;
        }
    }

    .circle {
        position: absolute;
        width: 180px;
        height: 180px;
        top: 50%;
        left: -70px;
        transform: translateY(-50%);
        background: var(--text-color);
        border-radius: 50%;
        border: 10px solid var(--bg-color);

        .imgBox {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }
    }
}